@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600;700;800&family=Inter:wght@400;500&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..600;1,400..600&family=Plus+Jakarta+Sans:wght@700;800&display=swap" rel="stylesheet');

:root {
    --primary: #F8FAFC;
    --secondary: #1E293B;
    --text-color: #064E3B;
}

body {
    background-color:var(--primary); 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    color:rgb(0, 0, 0);
}

main{
    min-height: 80vh;
}
h2 {
    color:var(--secondary);
    text-align:left; 
    font-size: 30px; 
    font-family: "Lora", serif;
}

a {
    margin: 10px;
}

.hobbies li {
    color:var(--text-color); 
    font-size: 18px;
    margin: 5px;
    border: 5px solid var(--primary);
}

ul:not(.hobbies) {
    padding: 0;
    display:flex;
    list-style-type: none;
}

ul.hobbies {
    padding: 10px;
    margin: 0px;
}


#heading {
 color:var(--secondary); 
    text-align:center; 
    font-size: 50px; 
    font-family: "Plus Jakarta Sans", sans-serif;
}

img {
    margin: 10px;
    border: 1px solid orange;
    padding: 1px;
    width: 28%;
}

section .parent {
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:768px) {
    section .parent {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    section .parent  {
        flex-direction: column;
        align-items: center;
        }
        
}

footer {
    text-align: center;
}